nav{
    display: flex;
    border-bottom: solid black 2px;
    background-color: #303031;
}

nav h1{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    /* centre text */
    flex: 2 0 auto;
    order: 2;
}

nav li{
    padding: 10px;
    font-size: 20px;
    user-select: none;
    color: #848485;
    cursor: pointer;
    transition:  0.2s;
}

nav li a.active{
    color: #fff;
}

nav li:hover{
    color: #ffffff;
}